*{
    font-family: 'Poppins', Arial, sans-serif;
}
/*body{
    background-image: url(/../img-folder/rob-laughter-redcurtains-unsplash.jpg);
    background-repeat: no-repeat;
    background-color: hsl(0, 50%, 50%);
    background-size: cover;
  
} */
.flex-container{
    display: flex;
    background-color: rgb(212,152,202);
    
}
header{
    font-weight: 700;
    font-size: 58px;  
    width: 60%;
}
header a{
    text-decoration: none;
    color: rgb(255, 255, 255);

}
nav{
    width:40%;
    text-align: right;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 40px;
    overflow: hidden;
  }
li{
    font-weight: 600;
    font-size: 20px;
    display: inline;
    padding: 5px;
}
li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
p{
    color: rgb(91, 37, 82);
}
a:visited{
    color: rgb(255, 255, 255);
}
a:hover{
    color: rgb(91, 37, 82);
}
