*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(/../img-folder/rob-laughter-redcurtains-unsplash.jpg);
    background-repeat: no-repeat;
    background-color: #f8f8f8;
    background-size: cover;
  
}
.flex-container{
    display: flex;
}
header{
    font-weight: 700;
    font-size: 58px;  
    width: 60%;
}
header a{
    text-decoration: none;
    color: maroon;

}
nav{
    width:40%;
    text-align: right;
}
ul{
    list-style-type: none ; 
    margin:0;
    padding-top: 40px;
}
li{
    font-weight: 400;
    font-size: 20px;
    display: inline;
    padding: 5px;
}
li a{
    text-decoration: none;
}
p{
    color: white;
}
